@model IEnumerable<FM3.Models.LicLinkViewModel>
@{
    ViewBag.Title = "人員資格維護作業";
}

<h2>1.4人員資格維護作業</h2>

@using (Html.BeginForm("EmpLicLink", "Licdata", FormMethod.Post, new { id = "Form1" }))
{
    <div class="row">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">工號</span>
                </div>
                <input type="text" id="empid" name="empid" class="form-control" placeholder="請輸入工號" aria-describedby="basic-addon2" required>
                <div class="input-group-append">
                    <button id="searchBtn" class="btn btn-outline-secondary" type="submit">查詢</button>
                    @if (ViewBag.empname == "查無資料")
                    {
                        <button id="addRowBtn" type="button" class="btn btn-secondary" disabled>新增資料</button>
                    }
                    else
                    {
                        <button id="addRowBtn" type="button" class="btn btn-secondary" data-toggle="ajax-modal" data-target="#NewLic" data-url="@Url.Action("NewLic")">新增資料</button>
                        <input name="hiddenstr" id="hiddenselectvalue" value="" hidden="hidden">
                    }
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">姓名</span>
                </div>
                    <input type="text" id="empname" name="empname" class="form-control" readonly="readonly" value=@ViewBag.empname  aria-label="Recipient's username"  aria-describedby="basic-addon2">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">部門</span>
                </div>
                    <input type="text" id="empdept" name="empdept" class="form-control" readonly="readonly" value=@ViewBag.empdept  aria-describedby="basic-addon2">
            </div>
        </div>
    </div>
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger" id="success-alert">
        <strong>@TempData["Message"]</strong>
    </div>
}


<div id="SearchResultSection">
    <br />

    @if (ViewBag.SearchResult != null)
    {
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th>工號</th>
                    <th>姓名</th>
                    <th>證照代碼</th>
                    <th>證照名稱</th>
                    <th>證照字號</th>
                    <th>證照取得日期</th>
                    <th>是否指定</th>
                    <th>是否為講師</th>
                    <th>是否結業</th>
                    <th>結業號碼</th>
                    <th>最近複訓日期</th>
                    <th>建立者</th>
                    <th>建立日</th>
                    <th>更新者</th>
                    <th>更新日</th>
                    <th>功能</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<FM3.Models.LicLinkViewModel>)ViewBag.SearchResult)
                {
                    <tr>
                        <td>@item.EMP_ID</td>
                        @*<td>@item.NAME1</td>*@
                        <td>@item.EMP_NAME</td>
                        <td>@item.LIC_CD</td>
                        <td>@item.LIC_NO</td>
                        <td>@item.LIC_DATE</td>
                        @if (item.IS_ASSIGN == "1")
                        {
                            item.IS_ASSIGN = "是";
                        }
                        else
                        {
                            item.IS_ASSIGN = "否";
                        }
                        <td>@item.IS_ASSIGN</td>
                        @if (item.IS_TEACHER == "1")
                        {
                            item.IS_TEACHER = "是";
                        }
                        else
                        {
                            item.IS_TEACHER = "否";
                        }
                        <td>@item.IS_TEACHER</td>
                        @if (item.IS_GRD == "1")
                        {
                            item.IS_GRD = "是";
                        }
                        else
                        {
                            item.IS_GRD = "否";
                        }
                        <td>@item.IS_GRD</td>
                        <td>@item.GRD_NO</td>
                        <td>@item.RE_LIC_DATE</td>
                        <td>@item.CREATED_BY</td>
                        <td>@item.CREATED_DT</td>
                        <td>@item.UPDATED_BY</td>
                        <td>@item.UPDATED_DT</td>

                        <td>
                            <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#EditLic" data-url="@Url.Action($"EditEmpLicLink/?empid={item.EMP_ID}")">
                                編輯
                            </button>
                            @using (Html.BeginForm("DelEmpLicLink", "Licdata", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" name="key" value="@item.PK_NO" class="btn  btn-danger" onclick="return confirm('確定刪除?')">刪除</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div id="ModalArea"></div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var ModalArea = $('#ModalArea');
            $('button[data-toggle="ajax-modal"]').click(function () {
                var ddlValue = "";
                var url = $(this).data('url');
                if ($(this).is('[data-target~="#NewLic"]')) {
                    ddlValue = $('#ddl').val();
                    url = url + "/?selectstr=" + ddlValue;
                }
                var decodedUrl = decodeURIComponent(url);
                $.get(decodedUrl).done(function (data) {
                    ModalArea.html(data);
                    ModalArea.find('.modal').modal('show');
                });
            })

            ModalArea.on('click', '[data-save="modal"]', function (event) {
                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr('action');
                var sendData = form.serialize();
                $.post(actionUrl, sendData).done(function (data) {
                    ModalArea.find('.modal').modal('hide');
                    location.reload();
                })
            })
            $(".alert").fadeTo(4000, 500).slideUp(500, function () {
                $(".alert").slideUp(500);
            });


        })

    </script>
}